*{
    margin: 0em;
    padding: 0em;
}

#mainWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: blueviolet; */
}

.boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 10em;
    /* background-color: brown; */
}
.box {
    margin: 1em;
    width: 5em;
    height: 5em;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: brown;
}

#box3 {
    background-color: orange;
}

#box4 {
    background-color: yellow;
}

#box5 {
    background-color: green;
}

#box6 {
    background-color: turquoise;
}

#box7 {
    background-color: rgb(27, 129, 129);
}

#box8 {
    background-color: blue;
}

#box9 {
    background-color: purple;
}

#box10 {
    background-color: pink;
}

